html,
body,
.app {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	font-size: 13pt;
	font-family: sans-serif;
	color: rgb(60, 60, 60);
}

.app {
	display: flex;
	background: rgb(245, 245, 245);
	position: relative;
	&__map {
		width: 100%;
		height: 100%;
		overflow: hidden;
	}
	&__search {
		position: absolute;
		top: 30px;
		right: 30px;
		z-index: 999;
		display: flex;
		box-shadow: 5px 5px 10px rgb(156, 156, 156);
		border: 1px rgb(156, 156, 156) solid;
		background: white;
		.container {
			position: relative;
			height: 100%;
		}
		.input,
		.submit {
			border: none;
			padding: 10px 20px 10px 20px;
			font-size: 13pt;
		}
		.input {
			background: white;
		}
		.submit {
			cursor: pointer;
			background: rgb(240, 240, 240);
			transition: all 0.2s ease-out;
			&:hover {
				background: rgb(230, 230, 230);
			}
		}
		.suggestion {
			position: absolute;
			top: 100%;
			left: 0;
			z-index: 1000;
			background: white;
			list-style-type: none;
			padding: 0;
			margin: 0;
			width: 100%;
			border: 1px rgb(156, 156, 156) solid;
			opacity: 0;
			pointer-events: none;
			transition: all 0.2s ease-out;
			&--active {
				opacity: 1;
				pointer-events: auto;
			}
		}
		.suggestion-item {
			cursor: pointer;
			padding: 10px 20px 10px 20px;
			transition: all 0.2s ease-out;
			&:hover {
				background: rgb(230, 230, 230);
			}
		}
	}
}
